{% extends 'base.html' %}

{% block content %}

<h3> Sign UP Page  </h3>

{% if error %}
<strong style="color:red;">{{error}}</strong>
{% endif %}

<form method="post" action="{% url 'accounts:signup' %}" style="max-width: 500px;">
  {% csrf_token %}
  <p>  Username: </p>
  <input type="text" name="username" class="form-control"/>

  <p> Password: </p>
  <input class="form-control" type="password" name="password1" />

  <p> Confirm  Password: </p>
  <input class="form-control" type="password" name="password2" />

  <p> &copy; </p>
  <input class="btn btn-primary" type="submit" value="Sing Up" />
  
</form>


{% endblock %}
